.NotFound {
  text-align: center;
}

.NotFound-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .NotFound-logo {
    animation: NotFound-logo-spin infinite 20s linear;
  }
}

.NotFound-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Poppins';
}

.NotFound-text {
  color: #282c34;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Poppins';
}

.NotFound-link {
  color: #61dafb;
}

@keyframes NotFound-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
